/*
  FONTS
*/
@font-face {
  font-family: "Chalktastic";
  src: url(../assets/fonts/chalktastic.ttf);
}

@font-face {
  font-family: "Chalktastic2";
  src: url(../assets/fonts/Chalktastic2.ttf);
}
@font-face {
  font-family: "Chalktastic3";
  src: url(../assets/fonts/Chalktastic3.ttf);
}
@font-face {
  font-family: "Chalktastic4";
  src: url(../assets/fonts/Chalktastic4.ttf);
}
