.main-header {
  display: flex;
  background-color: white;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  padding: 0 180px;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  &__item:hover {
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
  }
  &__title {
    color: #black;
    font-family: "Chalktastic";
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
    margin-right: 100px;
  }
  &__register {
    list-style: none;
  }
  &__item {
    color: black;
    font-family: "Chalktastic";
    font-size: 1rem;
    font-weight: 600;
    padding: 42px 12px;
    margin-right: 24px;
  }
  &__login {
    list-style: none;
    margin-right: 40px;
    color: black;
    font-weight: 600;
    font-family: "Chalktastic";
  }

  &__logout {
    margin-right: 40px;
    color: black;
    font-family: "Chalktastic";
    font-size: 1rem;
    font-weight: 600;
    padding: 40px 0;
  }
  &__logout:hover {
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
  }
  &__student {
    list-style: none;
  }

  &__classroom {
    list-style: none;
  }
}
