.main-student {
  display: flex;
  // background-image: url("../assets/small.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-size: contain;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__content {
    // max-width: 250px;
  }
  &__label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    // color: #1358db;
    color: #323232;
    font-weight: 600;
  }
  &__button {
    // color: blue;
    color: #323232;
    font-weight: 600;
  }
  &__form {
    // background-color: #afafaf;
  }
  &__title {
    // color: #1358db;
    border-bottom: 1px solid #323232;
    width: 80%;
    font-weight: 600;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  &__uploads {
    font-weight: 600;
    font-size: 2.5rem;
  }
  &__uploads {
    display: flex;
    width: 260px;
    margin: 20px 140px;
    color: #1358db;
  }
  &__list {
    // border: 1px solid green;
    margin: 0 140px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__link {
    width: 320px;
  }
  &__image {
    width: 320px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0px rgba(0, 0.4, 0, 0.4);
    margin-bottom: 34px;
    margin-right: 24px;
  }
}
