@import "./partials/header";
@import "./partials/student";
@import "./partials/login";
html,
body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

#file-upload-button {
  color: blue;
}

a {
  width: 320px;
}
