@import "./partials/fonts";
@import "./partials/header";
@import "./partials/student";
@import "./partials/login";
@import "./partials/register";
@import "./partials/classroom";
@import "./partials/myClassroom";
@import "./partials/uploads";
html,
body {
  margin: 0;
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

#file-upload-button {
  color: blue;
  display: none;
}

input[type="file"] {
  display: none;
}
a {
  width: 320px;
}
